body {
    max-width: 700px;
    font-size: 90%;
}
.send-text {

}

.action {
    font-weight: bold;
}
.body {
    margin-left: 20px;
    white-space: pre-wrap;
}

.send {
    background-color: #80e0e0;
    /* max-height: 25px; */
    /* overflow: auto; */
}
.recv {
    background-color: #f0e0c0;
}
.time {
}
.send-image img {
    width: 320px;
    height: 288px;
}

.content {
    padding: 5px;
    white-space: pre-wrap;
}
.log-header {
    background-color: #00c4c7;
    font-family: monospace;
}
.who {
    /*background-color: #00ef40;*/
    color: #003000;
    font-weight: bold;
}
.instructions-inner {
    max-height: 100px;
    overflow: scroll;
    mask-image: linear-gradient(to bottom, black, transparent);
}
.instructions {
    position: relative;
}
.instructions-snip::after {
    border-bottom: 1px solid #cccccc;
    content: '';
    margin-top: -6px;
    width: 100%;
    display: block;
}
.instructions-snip {
    text-align: center;
    position: absolute;
    width: 100%;
}
