body {
    max-width: 900px;
    font-size: 90%;
}
.send-text {

}

.action {
    font-weight: bold;
}
.body {
    margin-left: 20px;
    white-space: pre-wrap;
}

.send {
    background-color: #80e0e0;
    /* max-height: 25px; */
    /* overflow: auto; */
}
.recv {
    background-color: #f0e0c0;
}
.time {
}
.send-image {
    float: right;
    outline: 1px solid #888;
    box-shadow: rgba(0, 0, 0, 0.15) -1px 2px 4px;
}
.send-image-header {
    background-color: #c0c4f7;
    font-family: monospace;
    text-align: center;
    padding: 3px 0;
    display: none;
}
.send-image img {
    width: 320px;
    height: 288px;
    border: 5px solid white;
}

.send-body, .recv-body {
    padding: 5px;
}
.send-text, .recv-text {
    white-space: pre-wrap;
}
.log-header {
    background-color: #00c4c7;
    font-family: monospace;
    padding: 3px;
    outline: 1px solid #888;
}
.clear {
    clear: both;
}
.who {
    /*background-color: #00ef40;*/
    color: #003000;
    font-weight: bold;
}
.instructions-inner {
    max-height: 100px;
    overflow: scroll;
    mask-image: linear-gradient(to bottom, black, transparent);
}
.instructions {
    border-bottom: 1px solid #cccccc;
}
.instructions-snip {
    text-align: center;
}
